* {
	box-sizing: border-box;
}


body {
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;

}

main {
	max-width: 900px;
	width: 90%;
	margin: 20px;
	padding: 20px;
}

#menu{
  background: #2A8A70;
  height: 110px;
}

.logo {
  width: 127px;
  margin-top:0px;
  margin-left: 100px;
  display: block;
}

h2{
  margin: 10px;
  color:#2A8A70;
  font-size: 40px;
  padding-top: 50px;
}

ul{
margin : 0;
padding: 0;
float: right;
position: relative;
right: 100px;
bottom: 50px;
}

li{
  display: inline-block;
}

a{
  margin: 0 16px;
  font-size: 16px;
  color:#CFF7D8;
  text-decoration: none;
}

a:hover {
  color:#31C99F
}

/*Estilos Generales*/
.button {
	background:#2A8A70;
	color:#fff;
	display:inline-block;
	font-size:16px;
	margin:20px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
}

.button span {
	margin-right:5px;
	background:#2A8A70;
	box-shadow:0px 3px 0px #164A3C;
}

.button.medium {
	width:130px;
}

.button.radius {
	border-radius:10px;
}

#formulario {
	display: grid;
  margin-top: 50px;
  margin-left: 25px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.container{
	background: #ffffff;
	display:block;
	flex-direction: none;

}

.formulario__input {
	background: #E2EBF5;
	border: 2px solid transparent;
	border-radius: 5px;
	height: 35px;
	padding: 0 20px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 2px solid #31C99F;
	outline: none;
	box-shadow: 5px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
}